<table #mainTable mat-table [dataSource]="mainDataSource" multiTemplateDataRows class="mat-elevation-z8">
    @for (mainColumn of mainColumns; track mainColumn) {
    <ng-container matColumnDef="{{mainColumn.columnDef}}">
        <th mat-header-cell *matHeaderCellDef> {{mainColumn.header}} </th>
        <td mat-cell *matCellDef="let row">
            @if (mainColumn.columnDef === 'profit') {
            <span [ngClass]="convertStringToNumber(mainColumn.cell(row)) > 0 ? 'plus' : 'minus'">{{mainColumn.cell(row)}}</span>
            } @else {
            <span>
                @if (mainColumn.columnDef === 'expand') {
                <button mat-icon-button aria-label="expand row"
                    (click)="(expandedElement = expandedElement === row ? null : row); $event.stopPropagation()">
                    @if (expandedElement === row) {
                    <mat-icon>keyboard_arrow_up</mat-icon>
                    } @else {
                    <mat-icon>keyboard_arrow_down</mat-icon>
                    }
                </button>
                } @else if (mainColumn.columnDef === 'remove') {
                <button mat-icon-button aria-label="remove row"
                    (click)="removeMainDataRow(row); $event.stopPropagation()">
                    <mat-icon>playlist_remove</mat-icon>
                </button>
                } @else {
                {{mainColumn.cell(row)}}
                }
            </span>
            }
        </td>
    </ng-container>
    }
    <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element" [attr.colspan]="displayedSubColumns.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <table #subTables mat-table [dataSource]="element.details" class="mat-elevation-z8">
                    @for (subColumn of subColumns; track subColumn) {
                    <ng-container matColumnDef="{{subColumn.columnDef}}">
                        <th mat-header-cell *matHeaderCellDef> {{subColumn.header}} </th>
                        <td mat-cell *matCellDef="let row">
                            @if (subColumn.columnDef === 'profit') {
                            <span
                                [ngClass]="convertStringToNumber(subColumn.cell(row)) > 0 ? 'plus' : 'minus'">{{subColumn.cell(row)}}</span>
                            } @else {
                            @if (subColumn.columnDef === 'remove') {
                            <button mat-icon-button aria-label="remove row"
                                (click)="removeSubDataRow(row.id, element, row); $event.stopPropagation()">
                                <mat-icon>close</mat-icon>
                            </button>
                            } @else {
                            {{subColumn.cell(row)}}
                            }
                            }
                        </td>
                    </ng-container>
                    }
                    <tr mat-row *matRowDef="let row; columns: displayedSubColumns;"></tr>
                </table>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedMainColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedMainColumns;" class="example-element-row"
        [class.example-expanded-row]="expandedElement === row"
        (click)="expandedElement = expandedElement === row ? null : row">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>