table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.mat-column-symbol,
.mat-column-order-id,
.mat-column-side,
.mat-column-size,
.mat-column-open-time,
.mat-column-open-price,
.mat-column-swap,
.mat-column-profit {
  flex: 0 0 12% !important;
  width: 12% !important;
  word-break: break-word;
}

.mat-column-symbol {
  flex: 0 0 9% !important;
  width: 9% !important;
}

.mat-column-symbol-details-length {
  flex: 0 0 5% !important;
  width: 5% !important;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #000;
    color: #fff;
    border-radius: 50%;
  }
}

.mat-column-expandedDetail {
  padding: 0;
}
